<h2>
  Edit
  <% if @user.id == current_user.id %>
    account
  <% else %>
    <%=user.email%>
  <% end %>
</h2>
<form action="/users/<%=@user.id%>/edit" method="post">
  <label for="user_email">Email:</label>
  <input type="text" id="user_email" name="user[email]" size="30" value="<%=@user.email%>"><br>
  <label for="user_password">New Password:</label>
  <input type="password" id="user_password" name="user[password]" size="30"><br>
  <label for="user_password_confirmation">Confirm New Password:</label>
  <input type="password" id="user_password_confirmation" name="user[password_confirmation]" size="30"><br>
  <% if current_user.admin? && current_user.id != @user.id && !@user.site_admin? %>
  <label for="permission_level">Permission Level:</label>
  <select id="permission_level" name="user[permission_level]">
    <option value="-1"<%= @user.admin? ? " selected" : "" %>>
    <option value="1"<%= @user.permission_level == 1 ? " selected" : "" %>>
  </select><br>
  <% end %>
  <button type="submit">Update</button>
</form>
