        <div class="section-row">
          <div class="post-section">
            <h1>New Post</h1>
            <form action="<%= action %>" method="post" class="form-horizontal">
              <%=csrf_tag%>
              <div class="control-group">
                <label class="control-label" for="title">Title:</label>
                <div class="controls">
                  <input type="text" id="title" name="title" value="<%=post.title%>">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="body">Body:</label>
                <div class="controls">
                  <textarea id="body" name="body"><%=post.body%></textarea>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox" for="published">
                    <input type="checkbox" id="published" name="published"<%=post.published ? ' checked' : ''%>> Publish?
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button class="btn btn-primary" type="submit">Create</button>
                </div>
              </div>
            </form>
          </div>
        </div>
